.image{
    /* border: solid; */
    z-index: 10;
}
.image img{
    width: 350px;
    height: 350px;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: -5%;
    margin-right: -5%;
    transform: rotate(230deg);
}
.main{
    width: 100%;
    height: 100vh;
    /* border: solid; */
    margin-top: 2%;
    display: flex;
    justify-content: space-around;
}
.m-left{
    /* border: solid; */
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left: -10%;
}
.left-top{
    position: absolute;
    top: 25%;
    left: 10%;
    font-size: xx-large;

    /* border: solid; */
}
.text{
    font-size: 2em;
   background: linear-gradient(to right, #9b3838,#351313);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;

}
.left-bottom{
    width: 50%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 4%;
}
.form-block{
    border: 2px solid;
    width: 60%;
    height: 70%;
    margin-left: 10%;
    padding: 5% 10%;
    border-radius: 20px;
    font-weight: bold;
}
.input-field{
    width: 100%;
    height: 30px;
    background-color: transparent;
    border-radius: 20px;
    margin: 1% auto;
    border: 2px solid;
    padding: 5px 10px;
}
.m-right{
    /* border: solid; */
    width: 40%;
}
.right-top{
    width: 100%;
    height: 40vh;
    /* border: solid; */
}
.reward{
    width: 15%;
    height: 20vh;
    text-align: center;
    font-weight: bold;
    border: solid;
    border-radius: 30px;
    position: absolute;
    top: 20%;
    left: 70%;
}
.cha{
    text-align: center;
}
.kk{
    text-align: center;
    margin-top: 10%;
    font-size: medium;
    font-weight: bold;
}
.ll{
    margin-top: 2%;
    font-weight: bold;
}
.right-bottom{
    width: 100%;
    position: absolute;
    /* border: solid; */
    width: 60%;
    top: 50%;
}
.docs{
    width: 40%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: solid;
    margin: 20px;
    margin-left: 10%;
}
.lo{
    display: flex;
    gap: 20px;
}
