.main{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}
.m-left{
    width: 50%;
    /* border: solid; */
    height: 100%;
    display: flex;
    flex-direction: column;
}
.left-top{
    width: 100%;
    height: 50%;
    text-align: center;
    /* position: relative; */
    margin-top: 150px;
}
.txt{
    font-size: xx-large;
}
.text{
    margin-top: 10px;
    font-size: 4em;
   background: linear-gradient(to right, #9b3838,#351313);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}
.left-bottom{
    width: 90%;
    height: 40%;
    /* border: solid; */
    margin-left: 3%;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20%;
}
button{
    width: 120%;
    height: 50%;
    border-radius: 20px;
    font-weight: bold;
    font-size: 1.2em;
    background-color: transparent;
    border: 1px solid;
    transition: all ease-in .5s;
    /* margin-right: 30px; */
}
.left-bottom a{
    margin-right: 30px;
}
button:hover{
    border: 4px solid blue;
    font-size: 1.5em;
}
.m-right{
    width: 50%;
    /* border: solid; */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}