@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Mulish", sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    /* background-image:url(bg.png); */
}
.topimg{
    width: 100%;
    /* border: solid; */
    display: flex;
    align-items: flex-end;
}
.topimg img{
    width: 300px;
    height: 300px;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: -100px;
    margin-top: -80px;
}
nav{
    width: 100%;
    height: 8vh;
    /* border: solid; */
    display: flex;
    align-items: center;
    gap: 2px;
    padding-left: 10px;
}
nav h3{
    background: linear-gradient(to right, #22b8f8,#146c92);
    font-size: xx-large;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
nav img{
    /* margin-top: 10px; */
}
.form-block{
    width: 380px;
    height: 630px;
    /* border: solid; */
    position: relative;
    margin: 3% auto;
    padding: 5px;
    border-radius: 50px;
    /* background-color: #67DAF4; */
    overflow: hidden;
}
.button-block{
    width: 100%;
    height: 5vh;
    /* border: solid; */
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: .5s;
}
.toggle-btn{
    width: 40%;
    height: 100%;
    background-color: transparent;
    /* border-radius: 50px; */
    border: none;
    font-weight: bold;
    transition: .5s;
}
.toggle-btn:focus{
    border-bottom: solid;
}
.toggle-btn:active{
    border-bottom: solid;
}
#btn{
    border: solid white;
    left: 0;
    width: 150px;
    height: 5vh;
    position: absolute;
    border-radius: 50px;
    background-color: black;
    transform: .5s;
}
/* .form{
    border: solid;
    height: 20px;
    overflow: hidden;
} */
.input-fields{
    height: 280px;
    top: 70px;
    border: 1px solid;
    position: absolute;
    width: 300px;
    transition: .5s;
    border-radius: 20px;
    padding: 10px;
    background-color: transparent;
}
.reg-input-fields{
    top: 50px;
    border: 1px solid;
    position: absolute;
    width: 300px;
    border-radius: 20px;
    transition: .5s;
    padding: 10px;
    background-color: transparent;
}
.input-field{
    width: 90%;
    height: 30px;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 20px;
    border: 0;
    border: 1px solid;
}
.submit-btn{
    width: 85%;
    padding: 10px 30px;
    display: block;
    margin: auto;
    border-radius: 20px;
    background-color: #7CE0FF;
    border: 0;
    margin-top: 20px;
}
.reg-input-field{
    width: 90%;
    height: 20px;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 20px;
    border: 0;
    border: 1px solid;
}
.no{
    border: none;
}
.reg-submit-btn{
    width: 85%;
    padding: 10px 30px;
    display: block;
    margin: auto;
    border-radius: 20px;
    background-color: #7CE0FF;
    border: 0;
}
#login{
    left: 50px;
}
#register{
    left: 450px;
}
.downimg{
    width: 100%;
    /* border: solid; */
    display: flex;
    align-items: flex-end;
}
.downimg img{
    width: 300px;
    height: 300px;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: -50px;
    margin-bottom: -60px;
}