@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Mulish", sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    /* background-image:url(bg.png); */
}
nav{
    width: 100%;
    height: 27vh;
    /* border: solid; */
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.left{
    position: relative;
    left: 0;
    margin-left: -10%;
    /* border: solid; */
    width: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    margin-left: -150px;
}
.log{
    /* border: solid; */
    display: flex;
    flex-direction: row;
    gap: 5px;
}
nav h3{
    background: linear-gradient(to right, #22b8f8,#146c92);
    font-size: xx-large;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
nav .log img{
    width: 25px;
    height: 25px;
    margin-top: 13px;
}
.right{
    position: relative;
    right: 0;
    margin-right: -10%;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* border: solid; */
    gap: 40px;
}
.info{
    /* border: solid; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}
.info img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
a{
    color: black;
    text-decoration: none;
}