.main{
    width: 100%;
    height: 100vh;
    /* border: solid; */
    display: flex;
    justify-content: space-around;
}
.m-left{
    width:75%;
    height: 100%;
    /* border: solid; */
}
.insepection{
    width: 40%;
    height: 50vh;
    border: solid;
    position: absolute;
    top: 20%;
    left: 10%;
    padding: 5% 10%;
    font-weight: bold;
    border-radius: 30px;
}
h3{
    font-size: 1.5em;
    margin-left: -15%;
}
.form{
    margin-top: 5%;
    margin-left: -10%;
}
.input-field{
    width: 100%;
    height: 30px;
    /* border: solid; */
    margin: 1% ;
    border-radius: 30px;
    padding: 5px 10px;
}
.check{
    /* border: solid; */
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    
}
.check-box{
    margin-bottom: 10px;
}
button{
    width: 30%;
    height: 30px;
    margin-top: 30px;
    border-radius: 30px;
    font-weight: bold;
    background-color: #78f7ff;
}
.m-right{
    width: 25%;
    height: 100%;
    /* border: solid; */
    text-align: left;
    font-size: 1.5em;
}
.m-right h3{
    margin: 25% 3%;
}