.reg{
    /* border: solid; */
    height: auto;
    text-align: center;
}
.reg h4{
    margin-left: -20px;
    font-weight: bold;
}
.reg-input-fields{
    text-align: left;
    top: 89px;
    margin-left: 11%;
}