<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Police Home</title>
    <link rel="stylesheet" href="../../static/css/policehome.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../../static/css/nav.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">

</head>
<body>
    <nav>
        <div class="left">
            <div class="log">
                <a href="/" style="text-decoration: none;"><h3>Pointing System</h3> </a><img src="../../static/imgs/lot.png" width="25" height="25">
            </div>
            <div class="home">
                <a href="/"><i class='bx bxs-home'></i><span>Home</span></a>
            </div>
        </div>
        <div class="right">
            <div class="logout">
                <a href="/logout"><span>Logout</span><i class='bx bxs-log-out' ></i></a>
            </div>
            <div class="info">
                <img src={{user['profile_slug']}}>
                <div class="name">
                    <span> {{user['name']}}</span>
                    <p>{{user['phone']}}</p>
                </div>
            </div>
        </div>
    </nav>
    <div class="main">
        <div class="m-left">
            <div class="insepection">
                <h3>Insepection</h3>
                <form method="post">
                <div class="form">
                    <label for="vechileno">Vechile No</label><br>
                    <input type="text" name="vechileno" id="vechileno" class="input-field" required><br>
                    <label for="phone">Phone No</label><br>
                    <input type="tel" name="phone" id="phone" class="input-field" required><br>
                    <div class="check">
                        <div class="leftcheck">
                            <input type="checkbox" name="dl" id="dl" class="check-box" >
                            <label for="dl">Driving Lincense</label><br>
                            <input type="checkbox" name="safe" id="safe" class="check-box" >
                            <label for="safe">Safety</label><br>
                            <input type="checkbox" name="rc" id="rc" class="check-box" >
                            <label for="rc">Registration (RC)</label>
                        </div>
                        <div class="rightcheck">
                            <input type="checkbox" name="poll" id="poll" class="check-box" >
                            <label for="poll">Pollution</label><br>
                            <input type="checkbox" name="ins" id="in" class="check-box" >
                            <label for="in">Insurance</label><br>
                            
                        </div>
                    </div>
                    <a href=""><button type="submit">Submit</button></a>
                </div>
            </div>
        </form>
        </div>
        <div class="m-right">
            <h3>Points : {{user['points']}}</h3>
        </div>
    </div>
</body>
</html>