<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rto reister</title>
    <link rel="stylesheet" href="../../static/css/login.css">
    <link rel="stylesheet" href="../../static/css/rtoregister.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
</head>
<body>
    <div id="flash-message" style="display: none;">{{ get_flashed_messages() }}</div>
    <div class="topimg">
        <img src="../../static/imgs/bg.png">
    </div>
    <nav>
        <h3>Pointing System</h3> <img src="../../static/imgs/lot.png" width="25" height="25">
    </nav>
    <div class="reg">
        <h4>Sign-Up</h4>
        <form class="reg-input-fields" id="register" method="post" enctype="multipart/form-data">                
            <label for="user-name">User Name</label><br>
            <input type="text" name="username" id="user-name" class="reg-input-field" placeholder="User Name" required><br>
            <label for="password">Password</label><br>
            <input type="password" name="pwd" id="pwd" class="reg-input-field" placeholder="Enter password" required><br>
            <label for="conpassword">Confirm Password</label><br>
            <input type="password" name="pwd2" id="pwd" class="reg-input-field" placeholder="Confirm password" required><br>
            <label for="name">Name</label><br>
            <input type="text" name="name" id="name" class="reg-input-field" placeholder="Enter Name" required><br>
            <label for="phno">Phone Number</label><br>
            <input type="tel" name="phone" id="phn" class="reg-input-field" placeholder="Enter Phone Number" required><br>
            <label for="pic">Profile Picture</label><br>
            <input type="file" name="profile" id="pic" class="reg-input-field no" ><br>
            <label for="id">ID Number</label><br>
            <input type="text" name="idNo" id="id" class="reg-input-field" placeholder="Enter ID Number" required><br>
            <label for="pov">Id Proof</label><br>
            <input type="file" name="idproof" id="pov" class="reg-input-field no" ><br>
            <button type="submit" class="reg-submit-btn">Register</button>
        </form>
    </div>




    <div class="downimg">
        <img src="../../static/imgs/bg.png">
    </div>
    <script src="../../static/js/toaster.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
</body>
</html>