<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Citizen Home</title>
    <link rel="stylesheet" href="../../static/css/ctizenhome.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../../static/css/nav.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">

</head>
<body>
    <nav>
        <div class="left">
            <div class="log">
                <a href="/" style="text-decoration: none;"><h3>Pointing System</h3> </a><img src="../../static/imgs/lot.png" width="25" height="25">
            </div>
            <div class="home">
                <a href="/"><i class='bx bxs-home'></i><span>Home</span></a>
            </div>
        </div>
        <div class="right">
            <div class="logout">
                <a href="/logout"><span>Logout</span><i class='bx bxs-log-out' ></i></a>
            </div>
            <div class="info">
                <img src="{{user['profile_slug']}}">
                <div class="name">
                    <span>{{user['name']}}</span>
                    <p></p>
                </div>
            </div>
        </div>
    </nav>
    <div class="image">
        <img src="../../static/imgs/bg.png">
    </div>
    <div class="main">
        <div class="m-left">
            <div class="left-top">
                <span class="txt"><h2>Welcome Back</h2></span>
                <h2 class="text">{{user['name']}}</h2>
            </div>
            <div class="left-bottom">
                <div class="form-block">
                    <form>
                        <label for="name">Name</label><br>
                        <input type="text" id="name" class="input-field" value="{{user['name']}}" disabled><br>
                        <label for="phone">Phone Number</label><br>
                        <input type="text" id="phone" class="input-field" value="{{user['phone']}}" disabled><br>
                        <label for="vechileno">vechile Number</label><br>
                        <input type="text" id="vechileno" class="input-field" value="{{user['vehicle_no']}}" disabled><br>
                        <label for="vechiletyp">Username</label><br>
                        <input type="text" id="vechiletyp" class="input-field" value="{{user['username']}}"  disabled><br>
                    </form>
                </div>
            </div>
        </div>
        <div class="m-right">
            <div class="right-top">
                <div class="reward">
                    <h6 class="kk"><img src="../../static/imgs/Gift.png" width="25" height="25">  Reward Points</h6>
                    <h5 class="ll">{{user['points']}}</h5>
                    <div class="cha">
                        <!-- <img src="./Pay.png" width="20" height="20"> -->
                        <h6 class="kk"><img src="../../static/imgs/Pay.png" width="20" height="20">  Challans</h6>
                    </div>
                    <h5 class="ll">{{user['challan']}}</h5>
                </div>
            </div>
            <div class="right-bottom">
                {% for item in user['history']%}
                <div class="docs">
                    <div class="lo">
                        <img src="../../static/imgs/Documents.png" width="20" height="20">
                        <h5 class="docsh5">{{item[0]}}</h5>
                    </div>
                    <h5 class="docsh5">{{item[1]}}P</h5>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>