<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pointing System</title>
    <link rel="stylesheet" href="../../static/css/login.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
</head>
<body>
    <div id="flash-message" style="display: none;">{{ get_flashed_messages() }}</div>
    <div class="topimg">
        <img src="../../static/imgs/bg.png">
    </div>
    <nav>
       <a href="/" style="text-decoration: none;"> <h3>Pointing System</h3></a> <img src="../../static/imgs/lot.png" width="25" height="25">
    </nav>
    <div class="hero">
      
        <div class="form-block">
            <div class="button-block">
                <!-- <div id="btn"></div> -->
                <button type="button" class="toggle-btn" onclick="login()" >Log In</button>
                <button type="button" class="toggle-btn" onclick="register()">Register</button>
            </div>
            <div class="form">
                <form class="input-fields" id="login" method="post" enctype="multipart/form-data">                
                    <label for="user-name">User Name</label><br>
                    <input type="text" name="username" id="user-name" class="input-field" placeholder="User Name" required><br>
                    <label for="password">Password</label><br>
                    <input type="password" name="pwd" id="pwd" class="input-field" placeholder="Enter password" required><br>
                    <button type="submit" class="submit-btn">Log In</button>
                    <p>Are you a Police Officer? <a href="/police/signup" style="color: #1353cf;">Register Here</a></p>

                </form>
                <form class="reg-input-fields" id="register" method="post" action="/citizen/sign-up" enctype="multipart/form-data">                
                    <label for="user-name">User Name</label><br>
                    <input type="text" name="username" id="user-name" class="reg-input-field" placeholder="User Name" required><br>
                    <label for="password">Password</label><br>
                    <input type="password" name="pwd" id="pwd" class="reg-input-field" placeholder="Enter password" required><br>
                    <label for="conpassword">Confirm Password</label><br>
                    <input type="password" name="pwd2" id="pwd" class="reg-input-field" placeholder="Confirm password" required><br>
                    <label for="name">Name</label><br>
                    <input type="text" name="name" id="name" class="reg-input-field" placeholder="Enter Name" required><br>
                    <label for="phno">Phone Number</label><br>
                    <input type="tel" name="phone" id="phn" class="reg-input-field" placeholder="Enter Phone Number" required><br>
                    <label for="adh">Vehicle No</label><br>
                    <input type="text" name="vehicle_no" id="adh" class="reg-input-field" placeholder="Enter Vehicle Number" required><br>
                    <label for="pic">Profile Picture</label><br>
                    <input type="file" name="profile" id="pic" class="reg-input-field no" ><br>
                    <button type="submit" class="reg-submit-btn">Register</button>
                    <p>Are you a Police Officer? <a href="/police/signup" style="color: #1353cf;">Register Here</a></p>

                </form>
            </div>
            <!-- <p>Are you a RTO Officer? <a href="rtoregister.html" style="color: #1353cf;">Register Here</a></p> -->
        </div>
    </div>
    <div class="downimg">
        <img src="../../static/imgs/bg.png">
    </div>
    <script>
        var lg = document.getElementById("login");
        var reg = document.getElementById("register");
        var b = document.getElementById("btn");
        function register(){
            lg.style.left = "-400px";
            reg.style.left = "50px";
            b.style.left = "110px";
        }
        function login(){
            lg.style.left = "40px";
            reg.style.left = "450px";
            b.style.left = "0";
        }
    </script>
        <script src="../../static/js/toaster.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
</body>
</html>